NODE_ENV=development
PORT=5000

MONGO_URI=mongodb://localhost:27017/asaan-taqreeb

JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your_super_secret_refresh_key_here
JWT_REFRESH_EXPIRES_IN=7d

# Supabase Configuration
SUPABASE_URL=https://tvhoqoanjobkspakjwzv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2aG9xb2Fuam9ia3NwYWtqd3p2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njc2NzMyMywiZXhwIjoyMDkyMzQzMzIzfQ.2_wxqqZOLWeX4FeWlIueEIvggp87P0K_Ld86qFtK6PA
SUPABASE_BUCKET=Asaan-Taqreeb
